# Triton builds
build/
build-*/
wheelhouse/

llvm-project/
llvm-project-*/
.llvm-project/

# Triton Python module builds
python/build/
python/dist/
python/triton*.egg-info/
python/triton_kernels/triton*.egg-info/
python/tokenspeed_triton.egg-info/
tokenspeed_proton.egg-info/

python/triton/_C/*.pyd
python/triton/_C/*.so
python/triton/_C/*.so.*
python/triton/_C/*.dylib
python/triton/_C/*.pdb
python/triton/_C/*.exe
python/triton/_C/*.ilk
python/triton/FileCheck

python/tokenspeed_triton/_C/*.pyd
python/tokenspeed_triton/_C/*.so
python/tokenspeed_triton/_C/*.so.*
python/tokenspeed_triton/_C/*.dylib
python/tokenspeed_triton/_C/*.pdb
python/tokenspeed_triton/_C/*.exe
python/tokenspeed_triton/_C/*.ilk
python/tokenspeed_triton/FileCheck

# Backends copied from submodules
python/triton/backends/*
!python/triton/backends/__init__.py
!python/triton/backends/compiler.py
!python/triton/backends/driver.py

python/tokenspeed_triton/backends/*
!python/tokenspeed_triton/backends/__init__.py
!python/tokenspeed_triton/backends/compiler.py
!python/tokenspeed_triton/backends/driver.py

# Language extras
python/triton/language/extra/*
!python/triton/language/extra/__init__.py
!python/triton/language/extra/libdevice.py

python/tokenspeed_triton/language/extra/*
!python/tokenspeed_triton/language/extra/__init__.py
!python/tokenspeed_triton/language/extra/libdevice.py

# Tools extras
python/triton/tools/extra
python/tokenspeed_triton/tools/extra

# Proton
python/triton/profiler
python/tokenspeed_triton/profiler

# Instrumentation
python/triton/instrumentation
python/tokenspeed_triton/instrumentation

# MLIR Plugin
python/triton/plugins
python/tokenspeed_triton/plugins

# Python caches
__pycache__/
*.py[cod]
.pytest_cache

# Environments
.venv
venv/
venv.bak/

# VS Code project files
.vscode
.vs

# JetBrains project files
.idea
cmake-build-*

# Third-party binaries
cuobjdump
nvdisasm
ptxas

# Third-party include
third_party/nvidia/backend/include
third_party/nvidia/backend/lib/cupti
third_party/nvidia/backend/lib/cupti-blackwell
third_party/nvidia/backend/lib/gsan.ll

# Docs
docs/_build/
docs/_generated/
docs/gluon/api/generated/
docs/python-api/generated/
docs/dialects/
docs/getting-started/examples
docs/getting-started/tutorials
docs/sg_execution_times.rst
!python/tutorials/*.py
!python/tutorials/*.rst

# clangd index. (".clangd" is a config file now, thus trailing slash)
.clangd/
.cache
/compile_commands.json
.vscode
.vs
.cursor

# Vim
*.swp

# macOS
.DS_Store

AGENTS.override.md
